.MuiTableRow-root>* {
    padding: 10px !important;
}

.MuiTableRow-root.MuiTableRow-head>* {
    font-weight: bold !important;
}

.Table th, td {
    border: none !important;
}

.Table:first-child {
    border-radius: 0.7rem !important;
}

.Table .status {
    padding: 3px 5px;
    border-radius: 5px;
}

.Table .details {
    color: #41b4f0;
}